name: Tests and formatters
on:
  pull_request:
  push:
    branches: [main]
jobs:
  code-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: DeterminateSystems/nix-installer-action@v21
    - uses: DeterminateSystems/magic-nix-cache-action@v13
    - run: nix flake check
  readme-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: docker://pandoc/core:3.1
      with:
        args: >-
          --columns=80
          --standalone
          --from=gfm
          --to=gfm
          --output=README.pan.md
          README.md
    - name: Compare README.md with its regenerated version
      run: diff README.md README.pan.md
